#my-background {
    -moz-animation: great-effect 50s linear infinite;
    -webkit-animation: great-effect 50s linear infinite;
    -o-animation: great-effect 50s linear infinite;
    -ms-animation: great-effect 50s linear infinite;
    animation: great-effect 50s linear infinite;
    /* Set your background with this */
    background: #348cb2 url("../img/recuerdos.jpg");
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
}
@-moz-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
@-webkit-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
@-o-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
@-ms-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }
@keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2250px,0,0); -webkit-transform: translate3d(-2250px,0,0); -o-transform: translate3d(-2250px,0,0); -ms-transform: translate3d(-2250px,0,0); transform: translate3d(-2250px,0,0); } }

@-moz-keyframes great-effect {
    0%   {background-position: left top;}
    30%  {background-position: right top;}
    50%  {background-position: right bottom;}
    80%  {background-position: left bottom;}
    100% {background-position: left top;}
}
@-webkit-keyframes great-effect {
    0%   {background-position: left top;}
    30%  {background-position: right top;}
    50%  {background-position: right bottom;}
    80%  {background-position: left bottom;}
    100% {background-position: left top;}
}
@-o-keyframes great-effect {
    0%   {background-position: left top;}
    30%  {background-position: right top;}
    50%  {background-position: right bottom;}
    80%  {background-position: left bottom;}
    100% {background-position: left top;}
}
@-ms-keyframes great-effect {
    0%   {background-position: left top;}
    30%  {background-position: right top;}
    50%  {background-position: right bottom;}
    80%  {background-position: left bottom;}
    100% {background-position: left top;}
}
@keyframes great-effect {
    0%   {background-position: left top;}
    30%  {background-position: right top;}
    50%  {background-position: right bottom;}
    80%  {background-position: left bottom;}
    100% {background-position: left top;}
}

#my-background {
    width: 100%;
}